[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

wagtail = "*"
"psycopg2" = "*"
pylint = "*"
django-toolbelt = "*"


[requires]

python_version = "3.6"